Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-Bcrypt
Flask-Cors
Flask-WTF
gunicorn
psycopg2-binary
pysnmp-lextudio==5.0.34
pyasn1==0.6.0
pycryptodomex==3.20.0
APScheduler
pandas
openpyxl